<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PORTFOLIO</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="yandex-verification" content="bfa187addf98cd8a" />


    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="./static/img/icon-180x180.png">
    <link href="./static/img/favicon.ico" rel="icon">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

      <script src="./static/script.js"></script>
  </head>
  <body>



<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(71180137, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true,
        trackHash:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/71180137" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->





    <header>
      <nav class="navbar navbar-expand-lg fixed-top navbar-light">
        <div class="container ">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span > <a class="navbar-brand" href="#"><span class="logo">༺ༀ </span><span class="logo"> MENU  </span><span class="logo"> ༀ༻</span></a> </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active fas fa-home" aria-current="page" href="/"><span class="logo">HOME</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link fas fa-file-certificate " href="/Certificates"><span class="logo">CERTIFICATES</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link fas fa-briefcase" href="Portfolio"><span class="logo">PORTFOLIO</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link fas fa-user-tie" href="/about"><span class="logo">ABOUT ME</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link fas fa-envelope" href="/Contacts"><span class="logo">CONTACTS</span></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

        <!-- Index.html -->
    <section class="wrapper">
      <div class="wrapper_media">
        <video autoplay muted loop class="wrapper_media_video" >
          <source src="static/img/templarbit-data.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
      </div>
      <div class="wrapper_content">
          <h1>Welcome to my website! <br>
             My name is Kahramon Hadjibaev </h1>
            <p class="social-media hidden-xs">
              <a href="#" class="fab fa-facebook" data-toggle="tooltip" title="Facebook"></a>
              <a href="https://twitter.com/Roma68690765" class="fab fa-twitter" data-toggle="tooltip" title="Twitter"></a>
              <a href="https://github.com/HADJIBAEV" class="fab fa-github" data-toggle="tooltip" title="Linkedin"></a>
              <a href="https://vk.com/id446745376" class="fab fa-vk" data-toggle="tooltip" title="Behance"></a>
              <a href="#" class="fab fa-google-plus-square" data-toggle="tooltip" title="Flicker"></a>
            </p>
        <!-- Yandex.Metrika informer -->
          <a href="https://metrika.yandex.ru/stat/?id=71180137&amp;from=informer"
          target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/71180137/3_1_FFA020FF_FF8000FF_0_visits"
          style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="71180137" data-lang="ru" /></a>
        <!-- /Yandex.Metrika informer -->
      </div>
    </section>

  </body>
</html>

